 @import '_variables';

.chatbotContent{
position: relative;
 height: 100vh !important;
 padding: 0 !important;
 margin: 0 !important;
 overflow: hidden !important;
background-color: $background-color;
}

.imageBG {
    overflow: hidden;
    width: 80%;
}
.imageBG2 {
overflow: hidden;
width: 100%;
}
.selectCategory a{
    width: 100%;
    height: 60px;
    color: black !important; 
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }


.selectCategory a:hover {
background-color: rgba(255, 255, 255, 0.486);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;            
transition: 0.3ms;}

.welcomeToChatbot{
height: 90vh;
background: rgb(255, 255, 255);
background: linear-gradient(127deg, rgba(255, 255, 255, 1) 3%, rgba(43, 109, 245, 0.09149597338935578) 94%);
border-radius: 30px;
}

.welcomeToChatbotInner{
height:90%;
}
.welcomeHeader{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
width: 100%;
line-height: 15px;
font-size: 20px;

}
.typingDiv{
padding: 2rem 0;
}
.welcomeForm{
margin-left: 7rem;
padding-top: 6rem;
    input{
height: 60px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
border: none;
border-radius: 20px;
text-align: left;
padding-left: 1rem;}
    input:last-child {
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;background-color: white;
border-radius: 20px;
margin-top: 3rem;
cursor: pointer;
text-align: center;
color: black;
border: none;}
    input:last-child:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
    
}
.welcomeToChatbot a{
text-decoration: none;
color: $linkColor;
padding: 0.5rem;
padding-left: 0;
border-radius: 50px;
}

.categories{
background-color: rgba(255, 255, 255, 0.085);
padding: 2rem;
border-radius: 20px;
gap: 1rem;
min-width: 100%;


  
}

.messageBox{
height: 100%;
overflow-y: scroll;
scroll-behavior: smooth;
}
.input-group button {
background-color: white;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 20px;
cursor: pointer;
border: none;
height: 50px;
border: $linkColor;
color:$linkColor;
text-align: center;
width: 20% !important;
            
}
.input-group button:hover {
background-color: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.input-group input {
height: 50px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border: $linkColor;
border-radius: 20px;
text-align: center;
 
}

.message{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.sender{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    color: black;
    

   
}
.sender  div {
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 1.5rem;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
border-radius: 50px;
 }

.answer{
display: flex;
align-items: flex-start;
justify-content: flex-start;
width: 90%;
margin: 1rem 0;
gap: 0.5rem;}

.answerContainer{
box-shadow: #0000003d 0px 3px 8px;
padding: 0.5rem;
display: flex;
align-items: center;
justify-content: flex-start;
text-align: center;
border-radius: 50px;
min-width: 300px !important;
min-height: 70px;}


.adminLogo {
width: 70px;
height: 60px;
border-radius: 50px;
background-color: rgba(255, 255, 255, 0.761);
display: flex;
align-items: center;
justify-content: center;

 }

.adminLogo img {
    width: 50px;
    height: 50px;
    z-index: 1;}

.answerContent {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
padding: 0.5rem 1.5rem;}



///typing animation 

  .typing-animation {
  height: 40px;
  }

  .cursor {
      animation: blink-caret 0.75s infinite;
  }

  @keyframes blink-caret {

      from,
      to {
          border-color: transparent;
      }

      50% {
          border-color: black;
      }
  }

  ////
  /// 